*{
    margin: 0%;
    padding: 0%;
}

.textbox{
    margin-top: 240px;
    margin-left: 150px;
}

.h1{
    font-size: 55px;
    color: blue;
    font-family: sans-serif;

}

.h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}

.container{
    width: 400px;
    height: 350px;
    margin-top: -194px;
    margin-right: 160px;
    float: right;
    border-radius: 12px;
    background-color: white;
    width: 390px;
    height: 300px;
    text-align: center;
}

.form{
    float: right;
    padding: 20px;    
    margin-top: -12px;
    background-color: white;
}

.form input{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 8px;
    margin-right: -10px;
    padding: 17px;
    width: 332px;

}

.button{
    margin-top: 15px;
    background-color: blue;
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    color: white;
    font-family: sans-serif;
    font-size: 28px;
}

